<dl class="dl-horizontal">
<dt>Object</dt> <dd>{{object_info.Object}}</dd>
<dt>Materials</dt> <dd>{{object_info.Materials}}</dd>
<dt>Culture Group</dt> <dd>{{object_info.CultureGroup}}</dd>
<dt>Dimensions</dt> <dd>{{object_info.Dimensions}}</dd>
<dt>Production Date</dt> <dd>{{object_info.ProductionDate}}</dd>
<dt>Associated Places</dt> <dd>{{object_info.AssociatedPlaces}}</dd>
<dt>Associated People</dt> <dd>{{object_info.AssociatedPeople}}</dd>
<dt>Museum</dt> <dd>{{object_info.Museum}}</dd>
<dt>Accession Number</dt> <dd>{{object_info.AccessionNumber}}</dd>
</dl>
